body {font-family:sans-serif;
    background-color:#FBE2F1;
}
h1 {color:#000082;
    background-color:#f29dd0;
    padding: 1.5rem;
}
p {margin: 1.5rem;
    
}
img {
    float: left;
    border: 3px #ffffff solid; /**controls border width, color, line style **/
    margin: .65rem;
    max-width: 100%;
}

/*note*/