body {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:#FFF0F5;
}
h1 {color:#000082;
    background-color:#f29dd0;
    padding: 1.5rem;
    font-family: "Playwrite IT Moderna", serif;
  font-weight: normal;
  font-style: normal;
}
p {margin: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    line-height:1.5rem;
    font-family: "Courier New", Courier, monospace;}

    img {
    float: left;
    border: 3px #ffffff solid; /**controls border width, color, line style **/
    margin: .65rem;
    max-width: 100%;
}
a:link {
    color: #444FFF;
    text-decoration:none;}
a:visited {
    color:#7700FE
}
a:hover {
    color:#006765;
    text-decoration: underline;}

a:active {
    color:#0067B3
}